.MobileTopbarContainer {
  height: 45px;
  margin-top: 2px;
  /* border: 1px solid rgb(190, 154, 160); */
  padding: 5px 20px;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.BottomBarContainer {
  height: 60px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  z-index: 50;
}
.AppLogo {
  width: 30%;
  height: auto;
}
