.chatContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 87vh;
  padding: 0px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 6px rgb(199, 199, 199);
}

.chatContainer.isInsideMatchcomp {
  height: 85.5vh;
  padding: 0px;
  margin: 2px 2px 2px 6px;
  border-radius: 15px;
  box-shadow: 0px 0px 8px rgb(211, 211, 211);
}

.UserchatHeader {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border: 1px solid #e5e7eb;
}

.UserChatContent {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  background: linear-gradient(180deg, #f7fbff, #ffffff);
  border: 1px solid #e5e7eb;
  border-top: none;
}

.UserChatContent.isInsideMatchcomp {
  border: none;
  border-right: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
}

.Chatform {
  padding: 8px;
  display: flex;
  gap: 7px;
  align-items: center;
  border: 1px solid #e5e7eb;
  border-top: none;
}

.Chatform.isInsideMatchcomp {
  border: none;
  border-right: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
}

.chatInput {
  flex: 1;
  border-radius: 20px;
  border: 1px solid #d0d0d0;
  padding: 8px 12px;
  outline: none;
}

.chatInput:focus {
  outline: 1px solid #c5c5c5;
}
