.UserchatHeader {
  padding: 23px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border: 1px solid #e5e7eb;
}

.UserChatContent {
  flex: 1;
  padding: 1rem; /* p-4 */
  overflow-y: auto;
  background: linear-gradient(180deg, #f7fbff, #ffffff);
  border-right: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
}
