.ExploreContainer {
  height: 84vh;
  /* border: 2px solid black; */
  margin: 15px;
  display: grid;
  justify-content: center;
}

.ExploreCard {
  height: 100%;
  /* border: 2px solid pink; */
  width: 25rem;
  border-radius: 15px;
  /* overflow: hidden; */
  touch-action: pan-y;
  /* overflow-x: hidden; */
  overflow-y: auto;
  scrollbar-width: none;
  grid-row: 1;
  grid-column: 1;
  background-color: aliceblue;
}

.ExploreCard:hover {
  cursor: grab;
}

.UserTopContaienr {
  position: relative;
  bottom: 80px;
  background-color: rgb(20, 20, 20);
  opacity: 70%;
  padding: 8px;
}
