.LikedyouContainer {
  height: 84vh; /* BottomBar height */
  /* border: 2px solid black; */
  margin: 15px;
  display: grid;
  padding: 10px;
  gap: 30px;
  justify-content: center;
  cursor: grab;
  padding-bottom: 15px;
}

.LikedyouContainer.MultiReq {
  grid-template-columns: repeat(2, 25rem);
  justify-content: space-evenly;
}

.LikedYouCard {
  width: 25rem;
  height: 84vh;

  border-radius: 12px;
  background-color: white;
  position: relative;

  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;

  box-shadow: 0px 0px 10px rgba(174, 174, 174, 0.785);
}

/* When active (clicked) */
.LikedYouCard.active {
  overflow-y: auto; /* ✅ becomes scrollable */
}

/* Hide scrollbar (optional) */
.LikedYouCard.active::-webkit-scrollbar {
  display: none;
}

/* Tablet and smaller */
@media (max-width: 768px) {
  .LikedyouContainer {
    height: calc(100svh - 60px);
  }
  .LikedyouContainer.MultiReq {
    grid-template-columns: repeat(1, 25rem);
    justify-content: center;
  }
}

@media (width < 650px) {
  .LikedyouContainer {
    height: auto;
    min-height: calc(100svh - 90px);
    margin: 5px;
    padding-bottom: 20px;
  }

  .LikedYouCard {
    width: 23rem;
    height: calc(100svh - 120px);
    max-height: calc(100svh - 120px);
    border-radius: 10px;
  }

  .LikedyouContainer.MultiReq {
    grid-template-columns: repeat(1, 23rem);
  }
}

@media (width < 400px) {
  .LikedyouContainer.MultiReq {
    grid-template-columns: repeat(1, 21rem);
  }
  .LikedYouCard {
    width: 21rem;
  }
}

@media (width < 350px) {
  .LikedyouContainer.MultiReq {
    grid-template-columns: repeat(1, 18rem);
  }
  .LikedYouCard {
    width: 18rem;
  }
}

@media (width < 300px) {
  .LikedyouContainer.MultiReq {
    grid-template-columns: repeat(1, 17rem);
  }
  .LikedYouCard {
    width: 17rem;
  }
}
