.LikedyouContainer {
  height: 84vh;
  /* border: 2px solid black; */
  margin: 15px;
  display: grid;
  padding: 10px;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  /* justify-content: center; */
}

.LikedYouCard {
  width: 100%; /* MUST be 100% */
  height: 84vh;

  border-radius: 10px 10px 0px 0px;
  background-color: white;
  position: relative;

  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  box-shadow: 0px 0px 10px rgba(219, 219, 219, 0.255);
}
/* Tablet and smaller */
@media (max-width: 768px) {
  .LikedyouContainer {
    grid-template-columns: 1fr;
  }
}
