html,
body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  margin: 0;
  overflow: auto;
  background-color: rgb(0, 41, 107);
}

:root {
  --primary-color: #000000;
  --secondary-color: #2e2e2e;
}

.mainContent {
  min-height: 100vh;
  overflow: auto;
  background: radial-gradient(
      circle at top center,
      rgba(108, 92, 231, 0.12),
      transparent 60%
    ),
    linear-gradient(to bottom, #f7f8fc, #ffffff);
}

@media (width<650px) {
  html,
  body,
  #root {
    background-color: rgb(245, 245, 245);
  }
}
