html,
body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  margin: 0;
  overflow: auto;
  background-color: #f7f8fc;
}

:root {
  --primary-color: #000000;
  --secondary-color: #2e2e2e;
}

.mainContent {
  min-height: 100vh;
  overflow: auto;
  background: #f7f8fc;
}

@media (width<650px) {
  html,
  body,
  #root {
    background-color: #f7f8fc;
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
  animation-delay: 1s;
  animation-fill-mode: both;
}
